.Profile {
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: 0;
    width: 310px;
    height: 100px;
    background: rgb(218, 218, 218);
    padding-left: 10px; 
}
.Avatar { 
    position: absolute;
    top:24%; 
    border-radius: 50px; 
    background: rgb(161, 153, 168); 
    height: 60px;
    width: 60px;
}

.Name { 
    position: absolute;
    top:40%; 
    left: 30%;
    color: #333;
    font-size: 18px;
}