.Contacts {
    position: relative;
    height: 80px;
    width: 300px;
    background: #3949AB;
    color: white;
    text-align: left;
    padding-left: 10px;
    border-bottom: rgb(88, 103, 200) solid 1px;
}
.Contacts:hover { 
    background:#1A237E; 
}

.Contacts button {
    background: #3949AB;
    border: 1px white solid;
    color: white;
    border-radius: 3px;
    margin-left: 3px;
}

.Contacts button:hover {
    background: #9FA8DA;
}

.gButton {
    position: absolute;
    right: 15px;
    top: 30px;
}

.title {
    position: absolute;
    top: 15px;
    left:70px;
}

.Avatar { 
    position: absolute;
    top:24%; 
    border-radius: 50px; 
    background: rgb(161, 153, 168); 
    height: 45px;
    width: 45px;
}